<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group >
        <input type="text" nz-input formControlName="email" placeholder="Email" />
      </nz-input-group>

      <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors"
        >Please input your email!</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group >
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
        >Please input your Password!</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>Remember me</span>
      </label>
      <button style="padding: right;" nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
      <p>
      Or <a routerLink="/register">register now!</a>
      </p>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="file"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="file"></i></ng-template>