:host{
    div.TW{
        display: flex;
        justify-content: space-between;
    }
    div.tweets{
        flex-grow: 2;
    }
    div.user{
      order: 2;
    

    
    }
    textarea{
        width: 70%;
        margin-right: 1rem;
    }
    input#date {

    }
}