
<nz-layout style="height: 100vh" >
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
        
  <div class="logo"></div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
       
    <li nz-menu-item>
      <a routerLink="/profile">
        <span title> <img src="assets/icon/user-icon.png" alt="user icon"> <span class="nav-text">User</span></span>
      </a> 
      
    </li>
    <li  nz-submenu>
          <span title> <img src="assets/icon/twitt-icon.png" alt="twitter icon"> <span class="nav-text">Twitter</span></span>
      <ul class="submenu">
        <a routerLink="/twitter/home">
          <li class="submenu" nz-menu-item>Home</li>
        </a> 
      </ul>
    </li>
    <li  nz-submenu>
      <span title> <img src="assets/icon/face-icon.png" alt="facebook icon"> <span class="nav-text">Facebook</span></span>
  <ul class="submenu">
    <a routerLink="/facebook">
    <li class="submenu" nz-menu-item>Home</li>
    </a> 
  </ul>
</li>
    <li nz-menu-item>
        <a routerLink="/about">
          <span> <img src="assets/icon/about-icon.png" alt="about icon"> <span class="nav-text">About</span></span>
        </a> 
    </li>
    <li nz-menu-item>
        <a (click)="logout()" >
          <span> <img src="assets/icon/logout-icon.png" alt="logout icon icon"> <span class="nav-text">Logout</span></span>
        </a> 
    </li>
  </ul>
      
    </nz-sider>
        <nz-layout style="height: 100vh">
            <sa-main-header></sa-main-header>
            <router-outlet></router-outlet>
            <nz-footer style="text-align: center;">
                    <sa-main-footer></sa-main-footer>
                </nz-footer>
    </nz-layout>
  </nz-layout>